/* Application styles could go here */
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

body {
font-family:serif;    
}

.teiHeader {
    display:none;
}

/*Liste mit Dokumente*/
.docListItem {
    display:block;
}

.docListItem .autor {
    display:none;
    
}

.docListItem .autor::after {
    display:inline;
    content:":";
}

.docListItem .titel {
    display:block;
}

/*correspMeta*/

.sender::before {
    display:block;
    content:"Sender: ";
}

.addressee::before {
    display:block;
    content:"Empfänger: ";
}

.placeSender::before {
    display:block;
    content:"Schreibort: ";
}

.placeAddressee::before {
    display:block;
    content:"Empfangsort: ";
}

.dateSender {
    display:none;
}
