/* Hermann Bahr | Arthur Schnitzler */

/* Styles für page-template */

@media (min-width: 320px) {
  /*
  h1::before {
    display: block;
    content:"iPhone"
  }
  */
  h1 {
    font-size: 24px;
  }
  
  
  #content {
      padding-left:0px;
      padding-right:0px;
  }
  
  .search-content {
      padding-left:25px;
      padding-right:25px;
  }
  
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
  }
  .sidebar-nav .navbar ul {
  float: none;
  }
  .sidebar-nav .navbar ul:not {
  display: block;

  }
  .sidebar-nav .navbar li {
  float: none;
  display: block;
  }
  .sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
  }

  .container {
    padding-top:20px;
  }

  /*
  h1::before {
    display: block;
    content:"Tablet"
  }
  */

  h1 {
    margin-top:0px;
    font-size: 20px;
  }
  
  .page-title-main {
      display:block;
      padding-left:15px;
  }
  
  .page-title-sub {
      display:block;
      font-style:italic;
      padding-left:15px;
  }
  

  .top-header {
    margin-bottom: 3em;
  }
  
  .page-title-box {
      margin-bottom:3em;
  }
  
  .page-title-box a {
      color:black;
  }
  
  .page-title-box a:hover {
      color:black;
      text-decoration:none;
  }
    

     
  #content {
      /*muss man überlegen, ob man nicht auch hier padding reinnimmt*/
      padding-left:0px;
      padding-right:0px;
  }
  
.sidebar-nav .navbar {
    background-color:inherit;
    border:none;
    
  }

}

@media (min-width: 768px) {
  /* uncomment if you would like the menu to be fixed */
  /* .navbar {
    position: fixed;
    width: 170px;
    z-index: 2;
  } */
}
@media (min-width: 992px) {
  .navbar {
    width: 212px;
  }

  /*
  h1::before {
    display: block;
    content:"Normal"
  }
  */
  
  .sidebar-nav .navbar {
    background-color:inherit;
    border:none;
    
  }
  
  .navbar-default .navbar-nav>li>a {
      color:black;
  }
  
  .search-content {
      padding-left:0px;
      padding-right:0px;
  }
  
}
@media (min-width: 1200px) {
  .navbar {
    width: 262px;
  }

  /*
  h1::before {
    display: block;
    content:"Widescreen"
  }
  */
  
  .sidebar-nav .navbar {
    background-color:inherit;
    border:none;
    
  }

  } /* /Widescreen */

body, h1, h2 {
    font-family:serif;
}



.sidebar-nav .navbar-header{ float: none; }
.sidebar-nav {
  font-family: serif;
}

.top-header {
  text-align: center;
}

.top-header h1 {
    font-family:serif;
}

/* /Styles für page-template */


/*Textansicht*/

.prev-next-pager {
    background-color:white;
    display:block;
    position:fixed;
    bottom:10px;
}

.pagerNew {
    padding-left:15px;
    margin-top:5em;
}

.pagerNew li {
    display:block;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width:250px;
}
.pagerNew li>a {
  color:black;
  border-radius: 0px;
  border:none;
  padding:0px;
}
.pagerNew li>a:hover {
  color:black;
  border:none;
  background-color:white;
  text-decoration:none;
}

.pagerNew .next {
    float:left;
}

.pager-button {
    margin-right:5px;
}


.title-box {
  margin-bottom:2em;
}

.title-box h2 {
  display:inline;
  font-size:20px;
}

.text-box {
  font-family:serif;
  font-size:16px;
  margin-bottom:2em;
}


/* Leseansicht */
/*Alle Links in der text-box schwarz*/

.leseansicht a {
    color:black;
}

.leseansicht a:hover {
    color:inherit;
    text-decoration:none;
    cursor:pointer;
}

.leseansicht .commentary-ref {
    display:none;
}

.leseansicht .commentary {
    text-decoration:none;
    border-bottom:none;
}

/*
.leseansicht .supplied::before {
    display:none;
}

.leseansicht .supplied::after {
    display:none;
}
*/

.leseansicht .unclear::before {
    display:none;
}

.leseansicht .unclear::after {
    display:none;
}

/* .leseansicht .gap {
    display:none;
}
*/

.leseansicht .handShift {
    display:none;
}



/* /leseansicht */

.anhang-box {
  font-family:serif;
  padding-left:15px;
  margin-bottom:1em;
}

.kommentar-box {
    margin-top:2em;
}
.docListItem .autor {
    display:none;
}

.register {
    list-style:none;
    padding:0px;
}

.register_person a {
    font-size:0px;
}

.register_person a span {
    font-size: 14px;
}

.register_person a span:first-child:after {
    font-size: 14px;
    display:inline;
    content:" ";
}



.register_person a .date {
    color:inherit;
    
}

.register_person a .date:before {
    display:inline;
    content:" (";
    
}
.register_person a .date:after {
    display:inline;
    content:")";
    
}

.register_person a .occupation:before {
    display:inline;
    content:", ";
    
}

.register_biblFull a .author:after {
    display:inline;
    content:":";
}
    


.multiple a .author:after {
    display:inline;
    content:":";
}

.multiple a .hide_author:before {
    display:inline;
    content:"–";
}



/* /navigationselemente */


footer {
    text-align:right;
    padding-right:10px;
}

footer .impressum {
    font-size:x-small;
    color:gray;
}

.correspMeta {
    display:none;
}

/* ### class-Attribute von TEI-Elementen ### */

/* ### A ### */



/*tei:anchor*/
/*KOMMENTAR*/
/*span? mit dem kommentierten Text*/
.commentary,.textConst {
    
    color:black;
}

.commentary:hover, .textConst:hover {
    text-decoration:inherit;
    color:inherit;
    cursor:pointer;
}

.commentary-ref {
    display:inline;
    /*font-size:75%;
    vertical-align:super;
    position:relative;
    left:-0.2em;*/
}

.commentary-ref:hover {
    text-decoration:inherit;
    color:inherit;
    cursor:pointer;
}

.anchor_label {
    color:black;
    pointer-events: none;
    cursor: text;
    
}

.anchor_label:hover {
    color:black;
    text-decoration:none;
}


/* tei:add */
.add {}
.add:before {
    display: inline; 
    vertical-align:super;
    content:"▽";
    font-size:50%;
    font-weight:bold;
    color:black;
}

.add:after {
   display: inline; 
    vertical-align:super;
    content:"▽";
    font-size:50%;
    font-weight:bold;
    color:black;
}


.place_above {}
.place_inline {}
/* usw. */

/*tei:adress*/
.address {}

.address + .address {
    margin-top: 10px;
}

/* ### C ### */
.caption {
    text-align:center;
}

.closer {
    
}

.country {
    display:inline;
}

/* ### D ### */
.damage {
    display:inline;
    text-decoration:underline;
    -webkit-text-decoration-color: silver; 
    text-decoration-color: silver;
}
.damage-empty:before {
    display:inline;
    content:"X";
}

.dateline {
    display:block;
    text-align:right;
}

.date {
    color:black;
}

.date:hover {
    color:black;
    text-decoration:none;
}

del.overwritten {
    text-decoration:line-through;
}

del.overwritten:hover {
    cursor:help;
}

del.strikethrough {
    text-decoration:line-through;
}

del.strikethrough:hover {
    cursor:help;
}

del.erased {
    text-decoration:line-through;
}

del.erased:hover {
    cursor:help;
}

/* ### F ### */

/*figure*/
.thumbnail {
    width:200px;
    border:none;
}

/*footNote*/
.footnote {
    margin-bottom:0.5em;
    padding-left:25px;
    
}

.footnotes {
    margin-top:2em;
    font-size:10pt;
}


.footnote-marker {
    position:relative;
    left:-25px;
    margin-right:-20px;
}

/*Ref für die footNote*/
.footnote-ref {
}

/*Text in Fremdsprache*/
.foreign {
    background-color:green;
}

.frame {
    padding:1em;
    border:1px solid black;
}

/* ### G ### */

.gap {
    color:silver;
}

.illegible {
    font-size:1px;
}

.malzeichen {
    font-size:16px;
}

/*@reason von gap*/
.outOfScope::before {
    color:black;
    display:inline;
    content:"[ ¶ ]"
}

/* ### H ### */

/*handShift, Schreiberwechsel*/

/*head; Überschriften*/
.head {
    display:block;
    text-align:center;
    font-size:125%;
    margin-top:2em;
    margin-bottom:1em;
}

.subhead {
    display:block;
    text-align:center;
    font-size:115%;
    margin-top:2em;
    margin-bottom:1em;
}

/* hi */

.rend_antiqua {
    font-variant:small-caps;
} 

.rend_bold {
    font-weight:bold;
}

.rend_italic {
    font-style:italic;    
}

.rend_latintype {
    font-variant:small-caps;
}

.rend_overline {
    border-bottom:1px solid black;
}

.rend_small-caps {
    font-variant:small-caps;
}

.rend_spaced_out {
    letter-spacing:0.2em;
} 
.rend_strikethrough {
    text-decoration:line-through;
}
.rend_subscript {
    vertical-align:sub;
    font-size:75%;
}
.rend_superscript {
    vertical-align:super;
    font-size:75%;
}
.rend_underline-single {
    font-style:italic;
}

.rend_underline-multiple {
    font-style:italic;
    text-decoration:underline;
}

/* ### L ### */

.list_gloss .tei_label {
    margin-right:1em;
}

.list_simple-gloss .tei_label {
    margin-right:1em;
}

.list_gloss, .list_simple-gloss {
    list-style:none;
}


/* ### O ### */

/* tei:opener */
.opener {}


/* ### P ### */

.pb:before {
    position:relative;
    font-size:50%;
    bottom:-3px;
    display:inline;
    content:"|";
}

.placeName {
    display:inline-block;
}

.ptr:before {
    display:inline;
    content:"↗ ";
    font-size:75%;
}

/* ### S ### */

/* tei:salute */
.salute {
    display:block;
    text-align: left;
}


.supplied:hover {
    
}

.supplied:before {
    display:inline;
    content:"[";
    color:black;
}

.supplied:after {
    display:inline;
    content:"]";
    color:black;
}

.damage .supplied:before {
    display:none;
}

.damage .supplied:after {
    display:none;
}

.settlement {
    display:inline;
}

.signed {
    display:block;
    text-align:right;
}

.subst {
   font-size:1px;
}

.subst:before{
    position:relative;
    top:-1em;
    display: inline; 
    content:"△";
    vertical-align:super;
    font-size:8px;
    font-weight:bold;
    color:black;
    }

 .subst:after{
    position:relative;
    top:-1em;
    display: inline;
    content:"▽";
    font-size:8px;
    font-weight:bold;
    color:black;
    }
    
.subst-del {
    position:relative;
    top:-0.5em;
    font-size:12px;
}

.subst-add {
    font-size:16px;
}



/* ### T ### */

/* teiHeader */
.teiHeader {
    display:none;
}

/* divs im tei:text */
.text-div {}

/* Absätze im tei:text */
.text-p {
    margin:0px;
}

.space {
    display:inline-block;
}


/* ### U ### */
.unclear {
    color:silver;
}
/*
.unclear::before {
    color:orange;
    vertical-align:super;
    display:inline-block;
    content:"?";
    font-size:75%;
}
*/


.workName-nolink {
    font-style:italic;
}

.orgName-nolink {
    font-style:italic;
}

/*
.unclear::after {
    color:orange;
    vertical-align:super;
    display:inline-block;
    content:"?";
    font-size:75%;
}
*/

/*  /class-Attribute von TEI-Elementen ### */


/* Links in popups */
.popup-link {
    color:black;
}

.correspDesc .glyphicon {
    float:left;
    left:-1.5em;
    margin-right:-1em;
    font-size:11px;
    top:2px;
}

.placeSender, .dateSender {
    margin-left:0.5em;
}

.witnessBox .glyphicon {
    float:left;
    left:-1.5em;
    margin-right:-1em;
    font-size:11px;
    top:2px;
}

.listWit {
    list-style:none;
    padding:0px;
}


.msIdentifier .country {
    display:none;
}

.biblBox .glyphicon {
    float:left;
    left:-1.5em;
    margin-right:-1em;
    font-size:11px;
    top:2px;
}

.listBibl {
    list-style:none;
    padding:0px;
}

/*Bibliographische Angaben*/

.monogr .author.last:after {
    display:inline;
    content:":";
}

.monogr .author:after {
    display:inline;
    content:"; ";
}

.analytic .author.last:after {
    display:inline;
    content:":";
}

.analytic,.monogr .title.level_m {
    font-style:italic;
}

.analytic,.monogr .title.level_m:after {
    display:inline;
    content:".";
}

.analytic,.monogr .title.level_m:before {
    display:inline;
    content:" ";
}

.analytic,.monogr .pubPlace:after {
    display:inline;
    content:":";
}

.analytic,.monogr .pubPlace:before {
    display:inline;
    content:" ";
}

.analytic,.monogr .editor:after {
    display:inline;
    content:".";
}

.analytic,.monogr .editor:before {
    display:inline;
    content:" ";
}

.analytic,.monogr .publisher:before {
    display:inline;
    content:" ";
}

.analytic,.monogr .date:after {
    display:inline;
    content:".";   
}

.analytic,.monogr .date:before {
    display:inline;
    content:" ";   
}

.analytic,.monogr .date-pp:after {
    display:inline;
    content:",";   
}

.analytic,.monogr .biblScope:before {
    display:inline;
    content:" S. ";   
}

.analytic,.monogr .biblScope:after {
    display:inline;
    content:".";   
}

.monogr {
    display:block;
}

.msDesc .settlement:after {
    display:inline;
    content:" ";
}

.msIdentifier .idno:before {
   display:inline;
    content:" "; 
}

.placeAddressee .placeName:before {
    display:inline;
    content:"\ "; 
}

/*Kommentar*/

.commentary-fn {
    margin-bottom:0.2em;
    padding-left:20px;
}

.fn-marker {

    margin-left:-3em;
}

.commentary-fn .lemma {
    font-family:serif;
}

.commentary-fn .lemma:after {
    font-family:serif;
    display:inline;
    content:"] ";
}

.commentary-fn .kommentar-txt {
    font-size:10pt;
}

/*transition */
.collapsing {
    -webkit-transition: none;
    transition: none;
}


/*Suche*/

.search-hits {
    counter-reset:hit;
    padding-left:25px;
}

.search-hit {
    padding-top:1em;   
}

.search-hit::before {
    display:inline;
    margin-left:-25px;
    margin-right:25px;
    counter-increment: hit;
    content:counter(hit)".";
}

.search-hit p {
    margin-left:25px;
    margin-top:0.5em;
}

.search-hit p .hi {
    font-weight:bold;
}


/*Impressum*/
.impressum h3 {
    font-family:serif;
    font-size:16px;
}

.impressum ul {
    list-style:none;
}

/*Filter*/
.filter_form {
    padding-left:15px;
}

.author-link {
    display:block;
}

.briefe-an {
    margin-top:4em;
}

.verfListHinweis {
    margin-bottom:2em;
}

.filterSearch {
    margin-bottom:1.5em;
}

#searchHints ul {
    margin-left:1em;
    padding:0px;
    list-style-type: none;
}

#searchHints ul li:before { 
    content:"– ";
}

#searchHints {
    margin-top:2em;
    padding-left:1em;
}
