/* Hermann Bahr | Arthur Schnitzler */


/* Styles für page-template */

@media (min-width: 320px) {
  /*
  h1::before {
    display: block;
    content:"iPhone"
  }
  */
  h1 {
    font-size: 28px;
  }
  .sub-header {
    font-size: 22px;
  }
  
  
  #content {
      padding-left:30px;
      padding-right:30px;
  }
  
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
  }
  .sidebar-nav .navbar ul {
  float: none;
  }
  .sidebar-nav .navbar ul:not {
  display: block;

  }
  .sidebar-nav .navbar li {
  float: none;
  display: block;
  }
  .sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
  }

  .container {
    padding-top:20px;
  }

  /*
  h1::before {
    display: block;
    content:"Tablet"
  }
  */

  h1 {
    font-size: 36px;
  }
  .sub-header {
    font-size: 28px;
  }

  .top-header {
    margin-bottom: 3em;
  }
    

     
  #content {
      /*muss man überlegen, ob man nicht auch hier padding reinnimmt*/
      padding-left:0px;
      padding-right:0px;
  }
  

}

@media (min-width: 768px) {
  /* uncomment if you would like the menu to be fixed */
  /* .navbar {
    position: fixed;
    width: 170px;
    z-index: 2;
  } */
}
@media (min-width: 992px) {
  .navbar {
    width: 212px;
  }

  /*
  h1::before {
    display: block;
    content:"Normal"
  }
  */


}
@media (min-width: 1200px) {
  .navbar {
    width: 262px;
  }

  /*
  h1::before {
    display: block;
    content:"Widescreen"
  }
  */

  }

body, h1, h2 {
    font-family:serif;
}



.sidebar-nav .navbar-header{ float: none; }
.sidebar-nav {
  font-family: serif;
}

.top-header {
  text-align: center;
}

.top-header h1 {
    font-family:serif;
}

/* /Styles für page-template */


/*Textansicht*/

.pager {
  display: inline;
  font-size:26px;
  float:right;
  position:relative;
  top:-30px;

}

.pager li>a {
  color:black;
  border-radius: 0px;
  border:none;
}
.pager li>a:hover {
  color:black;
  border:none;

}


.title-box {
  margin-bottom:2em;
}

.title-box h2 {
  display:inline;
  font-size:20px;
}

.text-box {
  font-family:serif;
  font-size:16px;
  margin-bottom:2em;
}

.anhang-box, .kommentar-box {
  font-family:serif;
  padding-left:3em;
  margin-bottom:1em;
}

.docListItem .autor {
    display:none;
}

.register {
    list-style:none;
}

/* /navigationselemente */


footer {
    text-align:right;
    padding-right:10px;
}

footer .impressum {
    font-size:x-small;
    color:gray;
}

.correspMeta {
    display:none;
}

/* ### class-Attribute von TEI-Elementen ### */

/* ### A ### */



/*tei:anchor*/
/*KOMMENTAR*/
/*span? mit dem kommentierten Text*/
.commentary {
    border-bottom:1px black dotted;
    color:black;
}

.commentary:hover {
    text-decoration:inherit;
    color:inherit;
    cursor:pointer;
}

.commentary-ref {
    display:inline;
    /*font-size:75%;
    vertical-align:super;
    position:relative;
    left:-0.2em;*/
}

.commentary-ref:hover {
    text-decoration:inherit;
    color:inherit;
    cursor:pointer;
}




/* tei:add */
.add {}
.place_above {}
.place_inline {}
/* usw. */

/*tei:adress*/
.address {}

/* ### C ### */
.closer {
    
}

/* ### D ### */
.damage-empty:before {
    display:inline;
    content:"X";
}

.dateline {

}

del.overwritten {
    text-decoration:line-through;
}

del.overwritten:hover {
    cursor:help;
}

del.strikethrough {
    text-decoration:line-through;
}

del.strikethrough:hover {
    cursor:help;
}

del.erased {
    text-decoration:line-through;
}

del.erased:hover {
    cursor:help;
}

/* ### F ### */

/*figure*/
.thumbnail {
    width:150px;
}

/*footNote*/

/*footNote-Text?*/
.footNote {}

/*Ref für die footNote*/
.footnote-ref {}

/*Text in Fremdsprache*/
.foreign {
    background-color:green;
}

.frame {
    padding:1em;
    border:1px solid black;
}

/* ### G ### */

.gap {
    color:orange;
}

/* ### H ### */

/*handShift, Schreiberwechsel*/
.handShift::before {
    display:inline-block;
    content:"\270F🖎🖎";
    color:orange;
}

/*head; Überschriften*/
.head {}

.subhead {}

/* hi */

.rend_antiqua {} 

.rend_bold {
    font-weight:bold;
}

.rend_italic {
    font-style:italic;    
}

.rend_latintype {
    
}

.rend_overline {
    border-bottom:1px solid black;
}

.rend_small-caps {
    font-variant:small-caps;
}

.rend_spaced_out {
    letter-spacing:0.2em;
} 
.rend_strikethrough {
    text-decoration:line-through;
}
.rend_subscript {
    vertical-align:sub;
    font-size:75%;
}
.rend_superscript {
    vertical-align:super;
    font-size:75%;
}
.rend_underline {
    text-decoration:underline;
}


/* ### O ### */

/* tei:opener */
.opener {}

/* ### S ### */

/* tei:salute */
.salute {}


.supplied:hover {
    cursor:help;
}

.supplied:before {
    display:inline;
    content:"[";
    color:orange;
}

.supplied:after {
    display:inline;
    content:"]";
    color:orange;
}



/* ### T ### */

/* teiHeader */
.teiHeader {
    display:none;
}

/* divs im tei:text */
.text-div {}

/* Absätze im tei:text */
.text-p {}

.space {
    display:inline-block;
}


.unclear::before {
    color:orange;
    vertical-align:super;
    display:inline-block;
    content:"?";
    font-size:75%;
}

.unclear::after {
    color:orange;
    vertical-align:super;
    display:inline-block;
    content:"?";
    font-size:75%;
}

/*  /class-Attribute von TEI-Elementen ### */


/* Links in popups */
.popup-link {
    color:black;
}

.correspDesc .glyphicon {
    float:left;
    left:-1.5em;
    margin-right:-1em;
    font-size:11px;
    top:2px;
}

.placeSender, .dateSender {
    margin-left:0.5em;
}

.witnessBox .glyphicon {
    float:left;
    left:-1.5em;
    margin-right:-1em;
    font-size:11px;
    top:2px;
}

.listWit {
    list-style:none;
    padding:0px;
}


.msIdentifier .country {
    display:none;
}

.biblBox .glyphicon {
    float:left;
    left:-1.5em;
    margin-right:-1em;
    font-size:11px;
    top:2px;
}

.listBibl {
    list-style:none;
    padding:0px;
}

/*Bibliographische Angaben*/

.monogr .author.last:after {
    display:inline;
    content:":";
}

.monogr .author:after {
    display:inline;
    content:"; ";
}

.analytic .author.last:after {
    display:inline;
    content:":";
}

.analytic,.monogr .title.level_m {
    font-style:italic;
}

.analytic,.monogr .title.level_m:after {
    display:inline;
    content:".";
}

.analytic,.monogr .pubPlace:after {
    display:inline;
    content:":";
}

.analytic,.monogr .editor:after {
    display:inline;
    content:".";
}

.analytic,.monogr .date:after {
    display:inline;
    content:".";   
}

.analytic,.monogr .date-pp:after {
    display:inline;
    content:",";   
}

.analytic,.monogr .biblScope.pp:before {
    display:inline;
    content:"S. ";   
}

.analytic,.monogr .biblScope.pp:after {
    display:inline;
    content:".";   
}


/*Kommentar*/

.commentary-fn {
    margin-bottom:0.2em;
    padding-left:2em;
}

.fn-marker {

    margin-left:-3em;
}

.commentary-fn .lemma {
    font-family:serif;
}

.commentary-fn .lemma:after {
    font-family:serif;
    display:inline;
    content:"] ";
}

.commentary-fn .kommentar-txt {
    font-size:10pt;
}

/*transition */
.collapsing {
    -webkit-transition: none;
    transition: none;
}