<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="row">
            <div id="sidebar" class="col-sm-3">
                <div class="sidebar-nav">
                    <div data-template="app:nav"/>
                </div> <!-- /sidebar-nav -->
                <!-- weitere Sidebar-Elemente -->    
            </div> <!-- col-sm-3 = sidebar -->
            <div id="content" class="col-sm-9"/> <!-- ersetzt durch content -->
</div> <!-- /row mit sidebar und content -->
</div>