<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
    </head>
    <body id="body">
    
    <div class="container">
        <div class="row top-header">
            <div class="col-xs-12">
                <h1>
                    <span data-template="config:app-title">App Title</span>
                        <br/>
                    <span class="sub-header">Briefwechsel, Aufzeichnungen, Dokumente</span>
                </h1>
            </div> <!-- col-xs-12 -->
        </div> <!-- /top-header -->
        
        <div id="content"/>
        <!-- hier war row mit content und sidebar -->
        
    </div> <!-- /container -->
    
    
    
        <!-- eventuell rein in den container... -->
        <footer>
            <span data-template="config:app-title">App Title</span> <a href="impressum.html">Impressum</a>
        </footer>
    </body>
    <!-- tooltips -->
    <script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    </script>
</html>