<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="data/images/symbole/favicon.png"/>
        <link rel="icon" href="data/symbole/favicon.png"/>
        <link rel="apple-touch-icon" sizes="57x57" href="/data/images/symbole/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/data/images/symbole/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/data/images/symbole/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/data/images/symbole/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/data/images/symbole/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/data/images/symbole/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/data/images/symbole/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/data/images/symbole/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/data/images/symbole/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192" href="/data/images/symbole/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/data/images/symbole/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/data/images/symbole/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/data/images/symbole/favicon-16x16.png"/>
        <link rel="manifest" href="/data/images/symbole/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-year-calendar.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <!-- Matomo -->
            <script type="text/javascript">
              var _paq = _paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="//piwik.apollo.arz.oeaw.ac.at/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '79']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
        <!-- End Matomo Code -->
    </head>
    <body id="body">

    <div class="container">
        <div id="content"/>
        <!-- hier war row mit content und sidebar -->

    </div> <!-- /container -->



        <!-- eventuell rein in den container... -->
        <footer>
        </footer>
    </body>
    <!-- tooltips -->
    <script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    </script>
</html>